In [243]:
import pandas as pd
import sqlalchemy
from sqlalchemy.types import Integer, Text, String, DateTime
from sqlalchemy import text
from sqlalchemy import create_engine
import os
import configparser

In [244]:
def GetConnection(cfg_filename) :
    mysqlcfg = configparser.ConfigParser()
    mysqlcfg.read(cfg_filename)
    dburl = mysqlcfg['mysql']['url']

    os.environ['DATABASE_URL'] = dburl  # define this env. var for sqlmagic
    print(dburl)
    eng = create_engine(dburl)
    print(eng)
    return eng.connect()

con = GetConnection("/home/jovyan/mysql.cfg")
print(con)

mysql://jest8502:6c20c190ac60b66041b9@applied-sql.cs.colorado.edu:3306/jest8502
Engine(mysql://jest8502:***@applied-sql.cs.colorado.edu:3306/jest8502)
<sqlalchemy.engine.base.Connection object at 0x7f9ccd2ce0d0>

In [245]:
%reload_ext sql
print ("get version...")
%sql SELECT version()

get version...
 * mysql://jest8502:***@applied-sql.cs.colorado.edu:3306/jest8502
1 rows affected.

[('8.0.27',)]

In [246]:
# Load Data
parent = pd.read_csv('parent.csv')
child = pd.read_csv('child.csv')
babysitter = pd.read_csv('babysitter.csv')
job = pd.read_csv('job.csv')
schedule = pd.read_csv('schedule.csv')

In [247]:
# Get the dates in the job and schedule columns in a SQL Date-Friendly Format
job['date'] = pd.to_datetime(job['date'])
schedule['date'] = pd.to_datetime(schedule['date'])

In [248]:
%%sql
DROP table if exists Schedule;
DROP table if exists Job;
DROP table if exists Child;
DROP table if exists Parent;
DROP table if exists Babysitter;

 * mysql://jest8502:***@applied-sql.cs.colorado.edu:3306/jest8502
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [249]:
# CREATE TABLES
# There are Multiple Tables
# There are relationships between tables with Foreign Keys

In [250]:
%%sql
DROP table if exists Parent;
CREATE TABLE Parent(
    parentID INT PRIMARY KEY AUTO_INCREMENT,
    firstName VARCHAR(100) NOT NULL,
    lastName VARCHAR(100) NOT NULL,
    email VARCHAR (100) NOT NULL,
    zipcode VARCHAR(5) NOT NULL
);

DROP table if exists Child;
CREATE TABLE Child(
    childID int AUTO_INCREMENT PRIMARY KEY,
    parentID int,
    age int,
    FOREIGN KEY (parentID) REFERENCES Parent(parentID)
);

DROP table if exists Babysitter;
CREATE TABLE Babysitter(
    babysitterID INT AUTO_INCREMENT PRIMARY KEY,
    firstName VARCHAR(100) NOT NULL,
    lastName VARCHAR(100) NOT NULL,
    email VARCHAR (100) NOT NULL,
    zipcode VARCHAR(5) NOT NULL,
    minHourlyRate DOUBLE(4, 2),
    maxNumKids INT,
    minAgeKids INT
);

DROP table if exists Job;
CREATE TABLE Job(
    jobID INT AUTO_INCREMENT PRIMARY KEY,
    parentID INT,
    date DATE,
    startTime TIME,
    endTime TIME,
    payRateHourly DOUBLE(4, 2),
    FOREIGN KEY (parentID) REFERENCES Parent(parentID)
);

DROP table if exists Schedule;
CREATE TABLE Schedule (
    babysitterID INT,
    date DATE,
    startTime TIME,
    endTime TIME,
    jobAccepted INT UNIQUE,
    FOREIGN KEY (babysitterID) REFERENCES Babysitter(babysitterID),
    FOREIGN KEY (jobAccepted) REFERENCES Job(jobID),
    PRIMARY KEY (babysitterID, date)
);

 * mysql://jest8502:***@applied-sql.cs.colorado.edu:3306/jest8502
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [251]:
# CREATE TRIGGERS

In [252]:
# Trigger #1: enforce_start_end_Time - If accepting a job outside of the babysitter's schedule constraints, reject

In [253]:
%%sql
drop trigger if exists enforce_start_end_Time;
create trigger enforce_scart_end_Time
BEFORE UPDATE ON Schedule
FOR EACH ROW 
BEGIN
    if exists (
        SELECT *
        FROM Schedule, Job
        WHERE Job.jobID = NEW.jobAccepted and ((Job.startTime < New.startTime) or (Job.endTime > New.endTime))
    ) THEN
        SIGNAL SQLSTATE '45000'
          SET MESSAGE_TEXT = 'Cannot accept this job. Job starts before scheduled start or end time for babysitter', MYSQL_ERRNO = 1001;
    end if;
end;

 * mysql://jest8502:***@applied-sql.cs.colorado.edu:3306/jest8502
0 rows affected.
0 rows affected.

[]

In [254]:
# Trigger #2: enforce_maxKids - If accepting a job with more kids than the babysitter can handle, reject

In [255]:
%%sql
drop trigger if exists enforce_maxKids;
create trigger enforce_maxKids
BEFORE UPDATE ON Schedule
FOR EACH ROW 
BEGIN
    if exists (
        SELECT * FROM
        
        (SELECT Parent.parentID as "ParentID", Babysitter.maxNumKids as "BabysitterMaxKids"
         FROM Babysitter, Parent, Job
         WHERE Job.jobID = NEW.jobAccepted and Job.parentID = Parent.parentID and New.BabysitterID = Babysitter.BabysitterID) jobinfo,
        
        (SELECT parentID, COUNT(parentID) as "NumKids"
        FROM Child
        GROUP BY parentID) kidinfo
        
        WHERE jobinfo.ParentID = kidinfo.parentID and jobinfo.BabysitterMaxKids < kidinfo.NumKids 
        
    ) THEN
        SIGNAL SQLSTATE '45000'
          SET MESSAGE_TEXT = 'Cannot accept this job. The family has more kids than you can handle', MYSQL_ERRNO = 1001;
    end if;
end;

 * mysql://jest8502:***@applied-sql.cs.colorado.edu:3306/jest8502
0 rows affected.
0 rows affected.

[]

In [256]:
# CREATE INDICES
# I expect that parents will frequently search for babysitters based on their pay rate, so I will make this an index
# I expect that babysitters will frequently search for jobs based on their pay rate, so I will make this an index

In [257]:
%%sql 
CREATE INDEX babysitter_pay
ON Babysitter (babysitterID, minHourlyRate)

 * mysql://jest8502:***@applied-sql.cs.colorado.edu:3306/jest8502
0 rows affected.

[]

In [258]:
%%sql 
CREATE INDEX job_pay
ON Job (jobID, payRateHourly)

 * mysql://jest8502:***@applied-sql.cs.colorado.edu:3306/jest8502
0 rows affected.

[]

In [259]:
# INSERT INITIAL DATA

In [260]:
parent.to_sql('Parent', con = con, if_exists = "append", index=False)
child.to_sql('Child', con = con, if_exists = "append", index=False)
babysitter.to_sql('Babysitter', con = con, if_exists = "append", index=False)
job.to_sql('Job', con = con, if_exists = "append", index=False)
schedule.to_sql('Schedule', con = con, if_exists = "append", index=False)

In [261]:
# BASIC QUERIES TO DISPLAY CONTENTS OF TABLES

In [262]:
%sql SELECT * from Parent LIMIT 5;

 * mysql://jest8502:***@applied-sql.cs.colorado.edu:3306/jest8502
5 rows affected.

[(1, 'James', 'SMITH', 'comfortableDouglas5@blueyonder.co.uk', '90001'),
 (2, 'Robert', 'JOHNSON', 'angryLori72@club-internet.fr', '90002'),
 (3, 'John', 'WILLIAMS', 'nervousPatrick43@shaw.ca', '90003'),
 (4, 'Michael', 'BROWN', 'wide-eyedBryan@libero.it', '90004'),
 (5, 'David', 'JONES', 'Lauraspotless@yahoo.com.ar', '90005')]

In [263]:
%sql SELECT * from Child LIMIT 5;

 * mysql://jest8502:***@applied-sql.cs.colorado.edu:3306/jest8502
5 rows affected.

[(1, 1, 1), (2, 1, 2), (3, 1, 3), (4, 1, 4), (5, 2, 5)]

In [264]:
%sql SELECT * from Job LIMIT 5;

 * mysql://jest8502:***@applied-sql.cs.colorado.edu:3306/jest8502
5 rows affected.

[(1, 50, datetime.date(2022, 8, 1), datetime.timedelta(seconds=21600), datetime.timedelta(seconds=72000), 14.0),
 (2, 51, datetime.date(2022, 8, 1), datetime.timedelta(seconds=25200), datetime.timedelta(seconds=72000), 25.0),
 (3, 52, datetime.date(2022, 8, 1), datetime.timedelta(seconds=28800), datetime.timedelta(seconds=72000), 7.0),
 (4, 53, datetime.date(2022, 8, 2), datetime.timedelta(seconds=32400), datetime.timedelta(seconds=72000), 13.0),
 (5, 54, datetime.date(2022, 8, 3), datetime.timedelta(seconds=36000), datetime.timedelta(seconds=72000), 29.0)]

In [265]:
%sql SELECT * from Babysitter LIMIT 5;

 * mysql://jest8502:***@applied-sql.cs.colorado.edu:3306/jest8502
5 rows affected.

[(1, 'Louis', 'JIMENEZ', 'handsomeRaymond22@live.com', '90001', 28.0, 4, 11),
 (2, 'Mary', 'POWELL', 'comfortableCarl@yahoo.com.au', '90002', 20.0, 3, 3),
 (3, 'Patricia', 'JENKINS', 'worrisomePhilip@att.net', '90003', 9.0, 2, 4),
 (4, 'Jennifer', 'PERRY', 'Carloscareful@yahoo.fr', '90004', 24.0, 4, 4),
 (5, 'Linda', 'RUSSELL', 'nuttyKelsey21@yahoo.es', '90005', 8.0, 2, 9)]

In [266]:
%sql SELECT * from Schedule LIMIT 5;

 * mysql://jest8502:***@applied-sql.cs.colorado.edu:3306/jest8502
5 rows affected.

[(1, datetime.date(2022, 8, 1), datetime.timedelta(seconds=21600), datetime.timedelta(seconds=46800), None),
 (1, datetime.date(2022, 8, 2), datetime.timedelta(seconds=25200), datetime.timedelta(seconds=50400), None),
 (1, datetime.date(2022, 8, 3), datetime.timedelta(seconds=28800), datetime.timedelta(seconds=54000), None),
 (1, datetime.date(2022, 8, 4), datetime.timedelta(seconds=32400), datetime.timedelta(seconds=57600), None),
 (1, datetime.date(2022, 8, 5), datetime.timedelta(seconds=36000), datetime.timedelta(seconds=61200), None)]

In [267]:
# COMPLEX QUERY #1: Babysitters can view jobs that match their requirements
# Let's use babysitter #3, Patricia Jenkins as an example.

In [268]:
# First, let's take a look at her profile
# She lives in the 90003 zipcode, requires at least $9 per hour, she can't watch more than 2 kids, and the youngest age she can watch is age 4

In [311]:
%%sql
SELECT * 
FROM Babysitter
WHERE babysitterID=3

 * mysql://jest8502:***@applied-sql.cs.colorado.edu:3306/jest8502
1 rows affected.

[(3, 'Patricia', 'JENKINS', 'worrisomePhilip@att.net', '90003', 9.0, 2, 4)]

In [270]:
# Let's view which jobs match Patricia's requirements in her zipcode, listing the highest paying jobs first

In [271]:
# Below, we can see there are 2 jobs that match Patricia's requirements, Job #24 and Job #13
# Job #24 pays the best. Let's assume that is the one she wants.

In [312]:
%%sql

WITH 
    schedulematch(babysitterID, ScheduleDate, ScheduleStart, ScheduleEnd, JobID, ParentID, JobDate, JobStart, JobEnd)
        AS (SELECT Schedule.babysitterID as "babysitterID"
            , Schedule.date as "ScheduleDate"
            , Schedule.startTime as "ScheduleStart"
            , Schedule.endTime as "ScheduleEnd"
            , Job.jobID as "JobID"
            , Job.parentID as "ParentID"
            , Job.Date as "JobDate"
            , Job.StartTime as "JobStart"
            , Job.endTime as "JobEnd"                

            FROM Job, Schedule
            WHERE Job.date = Schedule.date 
            AND Job.startTime>= Schedule.startTime
            AND Job.endTime<= Schedule.endTime
           ),
    
    paymatch(babysitterID, ParentID, JobID, JobPay, NeededPay, BabysitterZip1)
        AS (SELECT Babysitter.babysitterID as "babysitterID", Job.parentID as "ParentID", Job.jobID as "JobID"
            , Job.payRateHourly as "JobPay", Babysitter.minHourlyRate as "NeededPay", Babysitter.zipcode as "BabysitterZIP1"
            FROM Job, Babysitter
            WHERE Babysitter.minHourlyRate <= Job.payRateHourly
           ),
        
    zipmatch(babysitterID, ParentID, JobID, JobZip, ParentName, ParentEmail)
        AS (SELECT Babysitter.babysitterID as "babysitterID", Job.parentID as "ParentID", Job.jobID as "JobID", 
            Parent.zipcode as "JobZip", CONCAT(Parent.firstName, ' ', Parent.lastName) as "ParentName", Parent.email as "ParentEmail"
            FROM Job, Parent, Babysitter
            WHERE Job.parentID = Parent.parentID and Babysitter.zipcode = Parent.zipcode
           ),
        
    childmatch(ParentID, NumKids, MinAge)
        AS (SELECT parentID as "ParentID", COUNT(parentID) as "NumKids", MIN(age) as "MinAge"
            FROM Child
            GROUP BY parentID
            )        
SELECT paymatch.babysitterID, schedulematch.JobID, schedulematch.ParentID, paymatch.JobPay as "Pay Rate"
        , schedulematch.JobDate as "Job Date", schedulematch.JobStart "Start Time", schedulematch.JobEnd as "End Time"
        , zipmatch.JobZip, zipmatch.ParentName, zipmatch.ParentEmail, childmatch.NumKids as "Number of Kids in Family"
        , childmatch.MinAge as "Age of Youngest Child"
        FROM schedulematch, paymatch, zipmatch, childmatch
        WHERE schedulematch.JobID = paymatch.JobID and zipmatch.JobID = schedulematch.JobID 
        and zipmatch.babysitterID = schedulematch.babysitterID and zipmatch.JobZip = paymatch.BabysitterZip1
        and schedulematch.parentID = childmatch.ParentID
        and paymatch.babysitterID = 3
        ORDER BY JobPay DESC

 * mysql://jest8502:***@applied-sql.cs.colorado.edu:3306/jest8502
2 rows affected.

[(3, 24, 73, 21.0, datetime.date(2022, 8, 18), datetime.timedelta(seconds=50400), datetime.timedelta(seconds=72000), '90003', 'Carl REED', 'Toniold-fashioned@sky.com', 1, 6),
 (3, 13, 3, 19.0, datetime.date(2022, 8, 7), datetime.timedelta(seconds=64800), datetime.timedelta(seconds=72000), '90003', 'John WILLIAMS', 'nervousPatrick43@shaw.ca', 1, 12)]

In [273]:
# COMPLEX QUERY #2: Parents/employers can view babysitters that might want the job
# Let's have Carl Reed review all the babysitter options for his job #24.

In [313]:
# First let's look at the job details of job #24
# The job is on Aug 18 from 2-8pm and pays $21 per hour for 1 kid

In [310]:
%%sql
SELECT jobreview.jobID, jobreview.parentID, jobreview.date, jobreview.startTime, jobreview.endTime, jobreview.payRateHourly
, childreview.NumKids as "Number of Kids" from

(SELECT * 
 FROM Job
WHERE jobID=24) jobreview,

(SELECT parentID, COUNT(parentID) as "NumKids", MIN(age) as "MinAge"
FROM Child
WHERE parentID=73
GROUP BY(parentID)) childreview
 
WHERE jobreview.parentID = childreview.parentID

 * mysql://jest8502:***@applied-sql.cs.colorado.edu:3306/jest8502
1 rows affected.

[(24, 73, datetime.date(2022, 8, 18), datetime.timedelta(seconds=50400), datetime.timedelta(seconds=72000), 21.0, 1)]

In [276]:
# Now, let's see who might take the job, besides Patricia (babysitter #13)
# We can view 7 Babysitter Profiles
# These are babysitters that would accept the Job's pay ($21 per hour), can handle the number of kids in the family, and can take care of the youngest child

In [314]:
%%sql

WITH 
    schedulematch(babysitterID, ScheduleDate, ScheduleStart, ScheduleEnd, JobID, ParentID, JobDate, JobStart, JobEnd)
        AS (SELECT Schedule.babysitterID as "babysitterID"
            , Schedule.date as "ScheduleDate"
            , Schedule.startTime as "ScheduleStart"
            , Schedule.endTime as "ScheduleEnd"
            , Job.jobID as "JobID"
            , Job.parentID as "ParentID"
            , Job.Date as "JobDate"
            , Job.StartTime as "JobStart"
            , Job.endTime as "JobEnd"                

            FROM Job, Schedule
            WHERE Job.date = Schedule.date 
            AND Job.startTime>= Schedule.startTime
            AND Job.endTime<= Schedule.endTime
           ),
    
    paymatch(babysitterID, ParentID, JobID, JobPay, NeededPay, BabysitterZip1, BabysitterName, BabysitterEmail, MaxKids)
        AS (SELECT Babysitter.babysitterID as "babysitterID", Job.parentID as "ParentID"
            , Job.jobID as "JobID", Job.payRateHourly as "JobPay", Babysitter.minHourlyRate as "NeededPay", Babysitter.zipcode as "BabysitterZIP1"
            , CONCAT(Babysitter.firstName, ' ', Babysitter.lastName) as "BabysitterName", Babysitter.email as "BabysitterEmail", Babysitter.maxNumKids as "MaxKids"
            FROM Job, Babysitter
            WHERE Babysitter.minHourlyRate <= Job.payRateHourly
           ),
        
    zipmatch(babysitterID, ParentID, JobID, JobZip, ParentName, ParentEmail)
        AS (SELECT Babysitter.babysitterID as "babysitterID", Job.parentID as "ParentID", Job.jobID as "JobID", Parent.zipcode as "JobZip", CONCAT(Parent.firstName, ' ', Parent.lastName) as "ParentName", Parent.email as "ParentEmail"
            FROM Job, Parent, Babysitter
            WHERE Job.parentID = Parent.parentID and Babysitter.zipcode = Parent.zipcode
           ),
        
    childmatch(ParentID, NumKids, MinAge)
        AS (SELECT parentID as "ParentID", COUNT(parentID) as "NumKids", MIN(age) as "MinAge"
            FROM Child
            GROUP BY parentID
            )        
SELECT paymatch.babysitterID, schedulematch.JobID, paymatch.babysitterName, paymatch.babysitterEmail, paymatch.NeededPay, paymatch.MaxKids
        FROM schedulematch, paymatch, zipmatch, childmatch
        WHERE schedulematch.JobID = paymatch.JobID and zipmatch.JobID = schedulematch.JobID 
        and zipmatch.babysitterID = schedulematch.babysitterID and zipmatch.JobZip = paymatch.BabysitterZip1
        and schedulematch.parentID = childmatch.ParentID
        and paymatch.JobID = 24
        ORDER BY paymatch.babysitterID ASC

 * mysql://jest8502:***@applied-sql.cs.colorado.edu:3306/jest8502
7 rows affected.

[(3, 24, 'Patricia JENKINS', 'worrisomePhilip@att.net', 9.0, 2),
 (13, 24, 'Nancy FISHER', 'glamorousMarco14@comcast.net', 15.0, 2),
 (33, 24, 'Amy TRAN', 'Emmanuelrich@yahoo.com.ar', 19.0, 5),
 (43, 24, 'Katherine FERNANDEZ', 'Mariehomely@libero.it', 21.0, 1),
 (53, 24, 'Ruth WEBB', 'Migueluninterested@centurytel.net', 16.0, 6),
 (73, 24, 'Ann PALMER', 'Carlylazy@yahoo.com.ar', 15.0, 5),
 (83, 24, 'Judy MILLS', 'worrisomeMarvin42@frontiernet.net', 21.0, 6)]

In [278]:
# UPDATE TABLES

In [279]:
# The family hires Patricia Jenkins
# Let's update Particia's schedule (babysitter #3 accepts job #24)

In [315]:
%%sql
UPDATE Schedule
SET jobAccepted = 24
WHERE babysitterID=3 and date = '2022-08-18'

 * mysql://jest8502:***@applied-sql.cs.colorado.edu:3306/jest8502
1 rows affected.

[]

In [281]:
# Patricia also accepts job #13 for Aug 7th

In [316]:
%%sql
UPDATE Schedule
SET jobAccepted = 13
WHERE babysitterID=3 and date = '2022-08-07'

 * mysql://jest8502:***@applied-sql.cs.colorado.edu:3306/jest8502
1 rows affected.

[]

In [283]:
# Basic Query

In [284]:
# Let's Review Patricia's Schedule. 2 of her days are now filled up

In [317]:
%%sql
SELECT * from Schedule 
WHERE babysitterID=3 and jobAccepted IS NOT NULL

 * mysql://jest8502:***@applied-sql.cs.colorado.edu:3306/jest8502
2 rows affected.

[(3, datetime.date(2022, 8, 7), datetime.timedelta(seconds=39600), datetime.timedelta(seconds=75600), 13),
 (3, datetime.date(2022, 8, 18), datetime.timedelta(seconds=28800), datetime.timedelta(seconds=72000), 24)]

In [286]:
# COMPLEX QUERY #3: Allow a babysitter to calculate their total earnings for all the jobs they accepted in their Schedule

In [287]:
# Let's see how much Patricia will make this month if she does both these jobs
# $164 for the month

In [318]:
%%sql
SELECT SUM(paycalc.hours * jobpay.payRateHourly) as "Monthly Income" FROM

(SELECT Job.startTime, Job.endTime, (Job.endTime - Job.startTime)/10000 as "hours", Schedule.jobAccepted, Schedule.babysitterID
from Job, Schedule
WHERE Job.jobID = Schedule.jobAccepted) paycalc, 

(SELECT jobID, payRateHourly
 from Job) jobpay

WHERE jobpay.jobID = paycalc.jobAccepted and paycalc.babysitterID=3

 * mysql://jest8502:***@applied-sql.cs.colorado.edu:3306/jest8502
1 rows affected.

[(164.0,)]

In [289]:
# Let test out the schedule constraint (via a trigger) with Babysitter #2, Mary Powell

In [290]:
# Let's look at Mary's schedule for August 1, the day she wants to take Job #1
# On August 1, she is available from to 9am to 8pm at night

In [291]:
%%sql
SELECT Schedule.babysitterID, CONCAT(Babysitter.firstName, ' ', Babysitter.LastName) as "Babysitter Name"
, Schedule.date, Schedule.startTime, Schedule.endTime 
FROM Schedule, Babysitter
WHERE Schedule.babysitterID=2 and Schedule.date = '2022-08-01' and Schedule.babysitterID = Babysitter.babysitterID

 * mysql://jest8502:***@applied-sql.cs.colorado.edu:3306/jest8502
1 rows affected.

[(2, 'Mary POWELL', datetime.date(2022, 8, 1), datetime.timedelta(seconds=32400), datetime.timedelta(seconds=72000))]

In [292]:
# UPDATE TABLE AND DEMONSTRATE TRIGGERS

In [293]:
# Let's look at the schedule details for job #1
# Oh no, the job starts at 6am. That is earlier than she can start that day

In [294]:
%%sql
SELECT * from Job
WHERE jobID=1

 * mysql://jest8502:***@applied-sql.cs.colorado.edu:3306/jest8502
1 rows affected.

[(1, 50, datetime.date(2022, 8, 1), datetime.timedelta(seconds=21600), datetime.timedelta(seconds=72000), 14.0)]

In [295]:
# What happens when Mary tries to add the job to her schedule? 
# It is rejected!

In [296]:
%%sql
UPDATE Schedule
SET jobAccepted = 1
WHERE babysitterID=2 and date = '2022-08-01'

 * mysql://jest8502:***@applied-sql.cs.colorado.edu:3306/jest8502
(MySQLdb._exceptions.OperationalError) (1001, 'Cannot accept this job. Job starts before scheduled start or end time for babysitter')
[SQL: UPDATE Schedule
SET jobAccepted = 1
WHERE babysitterID=2 and date = '2022-08-01']
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [297]:
# Let test out the max kids constraint (via a trigger) with Babysitter #9, Jessica Butler

In [298]:
# First, let's look at Jessica's profile
# We can see that she can only handle 1 kid

In [299]:
%%sql
SELECT babysitterID, CONCAT(Babysitter.firstName, ' ', Babysitter.LastName) as "Babysitter Name", maxNumKids as "Number of Kids I can Handle"
FROM Babysitter 
WHERE babysitterID=9

 * mysql://jest8502:***@applied-sql.cs.colorado.edu:3306/jest8502
1 rows affected.

[(9, 'Jessica BUTLER', 1)]

In [300]:
# Jessica wants to accept Job #11
# Let's look at the details of Job #11
# Oh no, Job #11 has 4 kids

In [301]:
%%sql
SELECT Job.jobID, Parent.parentID as "ParentID", CONCAT(Parent.firstName, ' ', Parent.lastName) as "Parent Name", COUNT(Child.parentID) as "Number of Kids in the Family", Job.date, Job.startTime, Job.endTime
FROM Parent, Job, Child
WHERE Job.parentID = Parent.parentID and Parent.parentID = Child.parentID and Job.jobID=11
GROUP BY Child.parentID

 * mysql://jest8502:***@applied-sql.cs.colorado.edu:3306/jest8502
1 rows affected.

[(11, 1, 'James SMITH', 4, datetime.date(2022, 8, 7), datetime.timedelta(seconds=57600), datetime.timedelta(seconds=72000))]

In [302]:
# What happens when Jessica tries to accept the job?
# She is rejected

In [303]:
%%sql
UPDATE Schedule
SET jobAccepted = 11
WHERE babysitterID=9 and date = '2022-08-07'

 * mysql://jest8502:***@applied-sql.cs.colorado.edu:3306/jest8502
(MySQLdb._exceptions.OperationalError) (1001, 'Cannot accept this job. The family has more kids than you can handle')
[SQL: UPDATE Schedule
SET jobAccepted = 11
WHERE babysitterID=9 and date = '2022-08-07']
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [304]:
# INSERT DATA THAT VIOLATES FOREIGN KEY CONSTRAINTS
# Let's try to add a Child without first inserting their parent in the Parent Table
# We can see that this produces an error: Cannot add or update a child row: a foreign key constraint fails

In [305]:
%sql INSERT INTO Child (parentID, age)  VALUES(200, 3);

 * mysql://jest8502:***@applied-sql.cs.colorado.edu:3306/jest8502

IntegrityError: (MySQLdb._exceptions.IntegrityError) (1452, 'Cannot add or update a child row: a foreign key constraint fails (`jest8502`.`Child`, CONSTRAINT `Child_ibfk_1` FOREIGN KEY (`parentID`) REFERENCES `Parent` (`parentID`))')
[SQL: INSERT INTO Child (parentID, age)  VALUES(200, 3);]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [ ]:
# DELETE ITEMS THAT ARE FOREIGN KEYS IN OTHER TABLES
# Let's try to delete a parent record without first deleting the children's records
# The parentID in the Parent table is a Foreign Key for the child Table
# We can see that this produces an error: Cannot delete or update a parent row: a foreign key constraint fails

In [306]:
%%sql
DELETE FROM Parent WHERE parentID=10

 * mysql://jest8502:***@applied-sql.cs.colorado.edu:3306/jest8502

IntegrityError: (MySQLdb._exceptions.IntegrityError) (1451, 'Cannot delete or update a parent row: a foreign key constraint fails (`jest8502`.`Child`, CONSTRAINT `Child_ibfk_1` FOREIGN KEY (`parentID`) REFERENCES `Parent` (`parentID`))')
[SQL: DELETE FROM Parent WHERE parentID=10]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [ ]:
# Similarly, let's try to delete a Babysitter without first deleting all that Babysitter's records from the Schedule table
# The babysitterID in the Babysitter table is a Foreign Key in the Schedule table
# We can see that this produces an error: Cannot delete or update a parent row: a foreign key constraint fails

In [307]:
%%sql
DELETE from Babysitter WHERE babysitterID=1

 * mysql://jest8502:***@applied-sql.cs.colorado.edu:3306/jest8502

IntegrityError: (MySQLdb._exceptions.IntegrityError) (1451, 'Cannot delete or update a parent row: a foreign key constraint fails (`jest8502`.`Schedule`, CONSTRAINT `Schedule_ibfk_1` FOREIGN KEY (`babysitterID`) REFERENCES `Babysitter` (`babysitterID`))')
[SQL: DELETE from Babysitter WHERE babysitterID=1]
(Background on this error at: https://sqlalche.me/e/14/gkpj)